body {
  background-color: #0f0f0f;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0f0f0f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo > img {
  width: 100px;
}

.profile {
  position: relative;
}

.profile > img {
  width: 40px;
  border-radius: 50%;
}

.dropdown-container {
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: 3px;
  display: none;
  z-index: 10;
}

.dropdown {
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
  width: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown span {
  cursor: pointer;
  display: block;
  padding: 8px 0;
}

.profile:hover .dropdown-container {
  display: block;
}

.netflixOriginals h2,
.movies__header h2,
.modal-body h2 {
  padding: 30px 0 20px;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif; /* Change 'Your Desired Font' to the desired font name */
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
}
.modal-body h2 {
  /* Styles specifically for the "Watch Now" heading inside the modal */
  font-size: 28px; /* Change the font size to your preference */
  font-style: bold; /* Change the font style to your preference */
  text-align: center; /* Center align the text */
}
.original__movies {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.original__movies img {
  margin: 10px;
  height: 250px;
  width: auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.original__movies img:hover {
  transform: scale(1.1);
}

.movies__container {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movies__container img {
  margin: 10px;
  height: 200px;
  width: auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.movies__container img:hover {
  transform: scale(1.1);
}

.featured {
  height: 400px;
  position: relative;
  background-image: url('https://w.forfun.com/fetch/ff/ff93e813438704f097820fa4e8775442.jpeg');
  background-size: cover;
  background-position: center;
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.featured h2 {
  font-size: 50px;
  margin: 0;
  z-index: 10;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}

.featured .featured__buttons {
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.featured .featured__buttons button {
  font-size: 16px;
  color: #fff;
  background-color: #e50914;
  border: none;
  padding: 8px 24px;
  border-radius: 4px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.featured .featured__buttons button:hover {
  background-color: #d30813;
}

.featured::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.featured .featured__description {
  max-width: 350px;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  z-index: 10;
  color: #fff;
  margin-top: 20px;
  line-height: 1.5;
}

.modal-body iframe {
  width: 100%;
  height: 500px;
}

.modal-body span {
  color: #fff;
  width: 100%;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
